.product-item-detail {
    display: flex;
    margin: 100px 20px;
    justify-content: space-between;
}

.product-item-detail img {
    min-width: 700px;
    margin-right: 40px;
}

.product-item-detail input {
    width: 20px;
    border: none;
    outline: none;
    text-align: center;
    margin: 0 10px;
}

.product-item-detail button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}

.description {
    background: #f8f8f8;
    padding: 40px;
}

.description h1 {
    text-align: center;
    font-weight: 400;
}

.description p {
    text-align: center;
    font-size: 12px;
    margin-top: 24px;
}

.product-item-quantity {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product-item-detail button.buy-product {
    background: #000;
    color: white;
    padding: 14px;
    margin: 20px auto;
    display: block;
}

.description .product-title h1 {
    font-weight: 800;
}

.description .product-title p {
    text-align: left;
    font-size: 14px;
}

.description p span {
    font-weight: 800;
    font-size: 16px;
}

.description ul {
    margin: 32px;
}

.description ul li {
    list-style: disc;
    font-size: 14px;
}